/*-----------
    RESET
-----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-----------
    GENERAL
-----------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
    color: inherit;    
}

.flex {
    display: flex;
}

/*-----------
    BUTTONS
-----------*/
.btn {
    border-radius: 20px;
    padding: 10px 20px;
    border-color: transparent;
}

.btn.btn-white {
    background-color: white;
    color: black;
}

.btn.btn-black {
    background-color: #23272a;
    color: white;
}


/*-----------
    TYPOGRAPHY
-----------*/

body {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

h1 {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
}

header, footer {
    color: white;
}

/*-----------
    HEADER
-----------*/
/* header top */
.header-top > .container {
    display: flex;
    align-items: center;
}

.header-top > .container > * {
    padding: 10px;
}

.header-top {
    background-color: #3161e0;
    padding: 15px;
}

.logo, .login {
    width: 20%;
}

.logo {
    text-align: left;
}

nav {
    width: 60%;
    text-align: center;
}

nav > ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.login {
    text-align: right;
}


/* header bottom */
.header-bottom {
    background-image: url("/img/jumbo.png");
    background-size: cover;
    background-position: center;
    padding: 30px;
    text-align: center;
}

.hero {
    min-height: 400px;
    max-width: 600px;
}

.header-bottom h1 {
    margin: 30px;
}

.header-bottom .flex {
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

.header-bottom i {
    margin-right: 10px;
}


/*-----------
    MAIN
-----------*/
.s-big, .s-small {
    min-height: 500px;
    margin: 50px 0;
    border: 1px dashed;
}
.s-big {
    background-color: #1e90ff;
    width: 60%;
}

.s-small {
    background-color: #ffc0cb;
    width: 40%;
}

.s-bigger {
    background-color: #228b22;
    min-height: 900px;
    width: 100%;
    margin: 50px 0;
    border: 1px dashed;
}

main section {
    display: flex;
}

main > :nth-child(even) {
    background-color: #d3d3d3;
}


/*-----------
    FOOTER
-----------*/
/* footer top */
footer {
    background-color: #23272a;
}

.footer-top {
    padding-top: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid #9a9a9a;
}

.footer-top > .container {
    display: flex;
}

.f-big, .f-small {
    min-height: 580px;
}

.f-big {
    background-color: #f08080;
    width: 100%;
} 

.f-small {
    background-color: #20b2aa;
    width: 25%;
    border: 1px dashed white;
}

#box1 {
    width: 40%;
    border: 1px dashed;
}

#box2 {
    width: 60%;
    border: 1px dashed;
}


/* footer bottom */
.footer-bottom {
    border-top: 1px solid #eee;
    padding-top: 30px;
    border-bottom: 1px solid #eee;
}

.footer-bottom > .flex {
    background-color: #7fffd4;
    justify-content: space-between;
    padding: 20px 0;
}